/*定义公共颜色样式*/
/*文字颜色*/
$black_c:#000000;

/*白色*/
$wihte_c:#fff;

/*菜单底色*/
$menuback:#273643;

/*顶部绿色*/
$topgreen:#1CC09F;

/*顶部logo背景*/
$logoback:#00AD8A;

/*绿色高亮*/
$greenlight:#2ACEAE;

/*hover绿*/
$green_h:#E4F4F1;
$green_b:#C3EBE4;


/*边线色*/
$bordercolor:#E5E5E5;

/*重要文字*/
$text_c:#333333;

/*普通文字*/
$gray:#666666;

/*次要文字*/
$gray2:#999999;

/*红色提示*/
$red_c:#ED5566;

/*红色hover*/
$red_h:#E1495A;

/*页面底色*/
$pageback:#F3F3F4;

/*
* 菜单部分
*/

/*菜单二级颜色*/
$menuback2:#2F4050;

/*菜单文字颜色*/
$menutext1:#CCCCCC;

/*边线*/
$menuborder:#34404C;
