/*定义公共颜色样式*/
/*文字颜色*/
$black_c:#000000;

/*占位符颜色*/
$placehoder_c:rgb(204, 204, 204);


/*白色*/
$wihte_c:#000000;

/*再深一点颜色*/
$deep_c:#333;

/*文字灰*/
$grey_c:#999;

/* 红色 */
$red_c: #EA3D45;

/*背景颜色*/
$bg_c:rgba(0, 0, 0, 0.498);
$bg_cw: #ffffff;


/*定义固定文字尺寸*/
$font10:20px;

$font12:24px;

$font14:28px;

$font16:32px;

$font18:36px;

$font20:48px;
